body {
    font-family: 'Arial', sans-serif; /* Manteniendo Arial */
    background-color: #08242a;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 60px; /* Padding para un cuadro más grande */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* Sombra pronunciada */
    width: 800px; /* Ancho del cuadro */
    transition: transform 0.3s ease; /* Efecto de transformación */
}

.form-title {
    text-align: center;
    margin-bottom: 30px; /* Margen inferior */
    color: #3f59a6;
    font-size: 26px; /* Aumentado el tamaño de la fuente del título */
    font-family: 'Verdana', sans-serif; /* Cambié a Verdana para un estilo más bonito */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra en el texto */
}

.form-group {
    margin-bottom: 20px; /* Margen inferior */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px; /* Tamaño de fuente de las etiquetas */
    font-weight: bold; /* Etiquetas en negrita */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px; /* Padding */
    border: 1px solid #ccc;
    border-radius: 6px; /* Bordes redondeados */
    transition: border 0.3s ease, box-shadow 0.3s ease; /* Efectos de transición */
    font-size: 16px; /* Tamaño de fuente */
    font-family: 'Arial', sans-serif; /* Fuente para campos de entrada */
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #3f59a6;
    outline: none; /* Quitar contorno */
    box-shadow: 0 0 5px rgba(63, 89, 166, 0.5); /* Sombra al hacer foco */
}

.form-button {
    width: 100%;
    padding: 15px; /* Padding */
    background-color: #648dec;
    border: none;
    border-radius: 6px; /* Bordes redondeados */
    color: #fff;
    cursor: pointer;
    font-size: 18px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transiciones suaves */
}

.form-button:hover {
    background-color: #3f59a6; /* Color al pasar el mouse */
}




